{{#section 'style'}}
<style>

.dropbtn {
  background-color: #58257b;
  color: white;
  font-weight: bold;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


.dropdown {
  position: relative;
  display: inline-block;
  
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e9d8f4;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 20px 50px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {
  background-color: #58257b;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.dropdown:hover .dropbtn {
  background-color: #984eca;
}
</style>
{{/section}}
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            {{>stat}}

        </div><!-- /col-lg-9 END SECTION MIDDLE --> 
<!--RIGHT SIDEBAR CONTENT -->      
        {{>member}}
        <h3> TOP PRODUCT</h3>
        <div class="dropdown">
                        <a class="dropdown" >
                        <i class="fa fa-database"></i>
                            <span class="tag-now" data-tagid = "{{tagNow}}"> {{tagNow}}</span>
                        </a>
                        <div class="dropdown-content" >
                            <button class ="btn-tag" data-tagid = "-1">All</button>
                            {{#each tag}}
                                <button class ="btn-tag" data-tagid = "{{this.id}}">{{this.name}}</button>
                            {{/each}}
                        </div>

        </div>
        
    </section>
    <section class="wrapper">
        <div class="token" id = "list_content">
            {{>products}}
        </div>
    </section>
</section>

<!--main content end-->
<!--footer start-->
<footer class="site-footer">
    <div class="text-center">
        2021-WeBu
        <a href="index.html#" class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
</footer>
{{#section 'script'}}
<script>
 const tag_btns = document.querySelectorAll(".btn-tag");
 const tagNow = document.querySelector('.tag-now');
 const token = document.querySelector('.token');
 console.log(tagNow);

 tag_btns.forEach(
    (btn)=> {
      const tagId = btn.dataset.tagid;
         
      btn.addEventListener('click', ()=>{
         $.get(`/api/dashboard/topsellingproduct?id=${tagId}`, (data,status)=>{
            if(status==="success"){
              if(tagId != -1)
               tagNow.innerHTML = `<span class="tag-now" data-tagid = "{{tagNow}}"> ${data[0].name}</span>`
               else 
               tagNow.innerHTML = `<span class="tag-now" data-tagid = "{{tagNow}}"> All</span>`

               let htmlToken = ``;

               data.forEach((element)=> {
                 htmlToken = htmlToken + `<a href="/product/${element.id}">
    <div class="col-md-3 col-sm-3 mb">
        <div class="white-panel pn">
            <div class="white-header">
                <h5>${element.title}</h5>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-6 goleft">
                    <p>$ ${element.price}</p>
                </div>
                <div class="col-sm-6 col-xs-6"></div>
            </div>
            <div class="centered">
                    <img src="${element.image}" height="120">
            </div>
        </div>
    </div><!-- /col-md-4 -->
</a>`
               })

               token.innerHTML = htmlToken;
            }

      })
      })

  })
</script>
{{/section}}