
<section id="main-content">
    <section class="wrapper">
    <div class="row mt">
        <div class="col-lg-12">
                <div class="content-panel">
                    <h4><i class="fa fa-angle-right"></i>{{table_name}}</h4>
                    <section id="no-more-tables">
                        <table class="table table-bordered table-striped table-condensed cf">
                            <thead class="cf">
                                <tr>
                                    {{#each column_name}}
                                    <th>{{this.column_name}}</th>
                                    {{/each}}
                                </tr>
                            </thead>
                            <tbody>
                                {{#each record}}
                                    <tr>
                                    {{#each this}}
                                        <td data-title="{{@key}}">{{this}}</td>
                                    {{/each}}
                                    {{#if this.id}}
                                        <td><a href="/tables/{{../table_name}}/edit?recordId={{this.id}}"><button>Edit</button></a></td>
                                    {{/if}}
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </section>
                </div><!-- /content-panel -->
            </div><!-- /col-lg-12 -->
        </div><!-- /row -->

    </section><! --/wrapper -->
</section><!-- /MAIN CONTENT -->
