<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-md-6">
                <h2>{{head}}</h2>
            </div>
            
            <div class="col-md-3">
                <button class="btn btn-info" style="margin-top:5px;"> 
                    <a href="/product/add" style="color:#fcfcfc">Add new product</a>
                </button>
            </div>
            <div class="col-md-3">
                <form action="/product/search">
                    <input type="text" class="form-control" placeholder="Search" aria-label="Search"  name="q" aria-describedby="basic-addon1">
                </form>
            </div>
            
        </div>
        <div class="row">
            {{>products}}
        </div>
        <nav class="row"  aria-label="Page navigation" style="left:0;">
            <div class="col-md-6"></div>
            <ul class="pagination justify-content-center col-md-3" style="margin: 0;">
                {{#if previous}}
                <li class="page-item"><a class="page-link" href="?{{#if q}}q={{q}}&{{/if}}page={{previous}}">Previous</a></li>
                {{/if}}
                {{#each pages}}
                <li class="page-item"><a class="page-link" href="?{{#if q}}q={{q}}&{{/if}}page={{this}}">{{this}}</a></li>
                {{/each}}
                {{#if next}}
                <li class="page-item"><a class="page-link" href="?{{#if q}}q={{q}}&{{/if}}page={{next}}">Next</a></li>
                {{/if}}
            </ul>
            <div class="col-md-3">
                
            </div>
        </nav>
    </section>
</section>